div {
  /*border: 1px solid black;*/
}
.controls {
  margin-bottom: 50px;
}
.controls textarea {
  margin: 0;
}
.textResult {
  display: flex;
  flex-direction: column;
}
.verse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.verse .left,
.verse .right {
  width: 49%;
  background: #eee;
}
.align-right {
  text-align: right;
}
